// This file contains all css rules related to the header of the site/application.

header {
  height: 55vh;
  @include tablet {
    height: 50vh;
  }
  position: relative;
  .hamburger-button {
    height: 5em;
    width: 5em;
    position: fixed;
    right: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $color-black-light;
      span {
        margin-left: -0.2em;
      }
      &::before,
      &::after {
        margin-left: 0.2em;
      }
    }
    span {
      @include create-hamburger-span(50%);
    }
    &::before {
      @include create-hamburger-span(40%);
    }
    &::after {
      @include create-hamburger-span(60%);
    }
  }

  nav {
    background-color: $color-black-light;
    width: 5em;
    position: fixed;
    top: 5em;
    right: 0;
    transition: transform 0.3s ease;
    z-index: 1;
    ul {
      margin: 0 auto;
      padding: 0;
      li {
        display: grid;
        place-items: center;
        height: 3em;
        i {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  h1 {
    position: absolute;
    bottom: 0;
    line-height: 2.5rem;
    @include tablet {
      line-height: 3.5rem;
    }
  }
}

.header-experience,
.header-about,
.header-skills {
  height: 20vh;
}
