// This file contains all styles related to the header of the site/application.
header {
  height: 55vh;
  position: relative;
  .hamburger-button {
    height: 5em;
    width: 5em;
    position: fixed;
    right: 0;
    z-index: 10;
    &:hover,
    &:focus {
      background-color: rgb(15, 15, 15);
      span {
        margin-left: -0.2em;
      }
      &::before,
      &::after {
        margin-left: 0.2em;
      }
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0.2em;
      width: 1.8em;
      background-color: white;
      border-radius: 1em;
      transition: margin-left 0.2s ease-out;
    }
    &::before {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      height: 0.2em;
      width: 1.8em;
      background-color: white;
      border-radius: 1em;
      transition: margin-left 0.2s ease-out;
    }
    &::after {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      height: 0.2em;
      width: 1.8em;
      background-color: white;
      border-radius: 1em;
      transition: margin-left 0.2s ease-out;
    }
  }
  nav {
    background-color: rgb(15, 15, 15);
    width: 5em;
    position: fixed;
    top: 5em;
    right: 0;
    ul {
      margin: 0 auto;
      padding: 0;
      li {
        display: grid;
        place-items: center;
        height: 3em;
      }
    }
  }
  h1 {
    position: absolute;
    bottom: 0;
    font-size: clamp(1rem, 10vw, 3rem);
    line-height: 2.5rem;
  }
}
.header-experience,
.header-about,
.header-skills {
  height: 20vh;
}
