// This file contains all styles related to the main section of the site/application.

main {
  p {
    font-size: clamp(1rem, 6vw, 2rem);
    line-height: 1.5rem;
    @include portrait-phone {
      font-size: clamp(0.5rem, 4vw, 2rem);
    }
  }
  .social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 6em;
    @include portrait-phone {
      font-size: clamp(1rem, 4vw, 3rem);
    }
  }
}

.main-experience {
  margin-bottom: 5em;
  hr {
    border: 0;
    height: 1px;
    background: $color-grey-light;
  }
  h2 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
  p {
    margin: 0;
  }
}

.main-about {
  margin-bottom: 5em;
}

.main-skills section {
  margin-bottom: 5em;
  dt {
    font-size: clamp(1rem, 6vw, 2rem);
    position: relative;
    margin: 1em 0 0.5em 0;
    @include portrait-phone {
      font-size: clamp(1rem, 4vw, 3rem);
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.2em;
      height: 1px;
      width: 10%;
      border-bottom: 1px solid $color-grey-light;
    }
  }
}
