// This file contains all styles related to the main section of the site/application.
.main-home,
.main-about,
.main-skills {
  p {
    font-size: clamp(1rem, 6vw, 2rem);
    line-height: 2rem;
    font-weight: 200;
  }
  .social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
  }
}

.main-experience {
  hr {
    border: 0;
    height: 1px;
    background: #333;
  }
  h2 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
  p {
    margin: 0;
  }
}

.main-skills section {
  margin-bottom: 5em;
  dt {
    font-size: clamp(1rem, 6vw, 2rem);
    position: relative;
    margin: 1em 0 0.5em 0;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 10%;
      border-bottom: 1px solid grey;
    }
  }
}
