// This file contains all styles related to the main section of the site/application.

.main-home {
  p {
    font-size: clamp(1rem, 6vw, 2rem);
    line-height: 2rem;
    font-weight: 200;
  }
  .social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
  }
}

.main-experience {
  hr {
    border: 0;
    height: 1px;
    background: #333;
  }
}
