// This file contains very basic styles.
html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: black;
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: white;
}

.menu-hidden {
  max-height: 0;
  // transform: translateY(-100%);
  overflow-y: hidden;
}
