// This file contains very basic style rules

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: $color-black-lighter;
  padding: 0 5%;
  @include tablet {
    padding: 0 10%;
  }
  @include desktop {
    padding: 0 15%;
  }
}

a {
  text-decoration: none;
  color: $color-off-white;
}

.menu-hidden {
  transform: translateY(-150%);
  overflow-y: hidden;
}

.fab {
  font-size: clamp(1rem, 8vw, 2rem);
}
