// This file contains all application-wide Sass mixins.

// Breakpoint mixins
@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

// Mixin for creating the hamburger button spans
@mixin create-hamburger-span($top) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  height: 0.2em;
  width: 1.8em;
  background-color: $color-off-white;
  border-radius: 1em;
  transition: margin-left 0.2s ease-out;
}
