// This file contains all application-wide Sass variables.

// Font face
$primary-font: 'Nunito Sans', sans-serif;

// Colors
$color-off-white: hsl(36, 33%, 97%);
$color-black-light: hsl(0, 0%, 2%);
$color-black-lighter: hsl(240, 100%, 2%);
$color-grey-light: hsl(0, 0%, 20%);

// Font weights
$font-weight-light: 200;

// Media query breakpoints
$breakpoint-tablet: '768px';
$breakpoint-laptop: '992px';
$breakpoint-device-large: '1200px';
