// Typography
$font-white: hsl(0, 0%, 100%);
$font-dark-white: hsl(0, 16%, 96%);
$font-yellow: hsl(55, 55%, 86%);

// Colors
$background-blue: #123aec;

// Media queries breakpoints
$breakpoint-mobile-large: '576px';
$breakpoint-tablet: '768px';
$breakpoint-laptop: '992px';
$breakpoint-device-large: '1200px';
