// This file contains all application-wide Sass variables.

// Font face
$primary-font: 'Nunito Sans', sans-serif;

// Colors
$color-white: hsl(0, 0%, 100%);
$color-black-light: hsl(0, 0%, 2%);
$color-dark-white: hsl(0, 16%, 96%);
$color-yellow: hsl(55, 55%, 86%);

// Site colors
$background-blue: hsl(254, 66%, 10%);

// Media query breakpoints
$breakpoint-phone-portrait: '576px';
$breakpoint-tablet: '768px';
$breakpoint-laptop: '992px';
$breakpoint-device-large: '1200px';
